{% extends "base.html" %}
{% block title %}Home - Selwyn Dance School{% endblock %}

{% block content %}
<div class="container mt-4">
  <div class="bg-white p-4 rounded shadow-sm">

    <h1 class="h3 mb-3">Welcome to Selwyn Dance School</h1>

    <p class="text-muted">
      This system helps staff manage students, classes, enrolments, and simple reports.
      Use the navigation bar to manage students, teachers, classes, and reports.
    </p>

    <div class="mt-4 text-center">
     <img src="{{ url_for('static', filename='dance_school.jpg') }}"
     class="img-fluid rounded shadow-sm"
     alt="Selwyn Dance School"
     style="max-height:360px;">

    </div>

  </div>
</div>
{% endblock %}
